body {
    background-color: #d6d6e4;

    font-family: sans-serif;
    font-size: 16px;
    color: #212529;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo_categoria {
    display: flex;
    justify-content: space-between;
    color: #08151d;
    font-size: 1vh;
}

@media (max-width: 768px) {
    .titulo_categoria {
        flex-direction: column;
    }

    .btn {
        max-width: 180px;
    }
}

@media (max-width: 800px) {
    .titulo_categoria h2 {
        text-align: center;
    }

    .titulo_categoria button,
    .titulo_categoria #montoTotal {
        display: block;
    }
}


.jsDivR {
    display: flexbox;
    width: 100%;
    justify-content: space-around;
    margin-top: 2vh;
}

/* Clases para contenedores */
.jsContainer {
    background-color: #f2eeee;
    display: flexbox;
    justify-content: space-around;
    margin-top: 15vh;

    border-radius: 12px;
    min-height: 70vh;
}

/*style formularios*/
form {

    padding: 1vh;
}


/*////////////////////////////////////////////////////////////////*/

/* Clases para tablas */
.jsDiv {
    padding-top: 1vh;
    
    background: #fffefe;

    border-radius: 10px;
    border: 2px solid #d2d6e6;
    /* box-shadow: -1px 0px 25px 0px #18587456; */
    border-radius: 12px;
    text-align: center;

}

.jsDiv table {
    
    border: 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

}

.dataTables_scrollBody {
    overflow-x: hidden !important;
}

table td {
    border: 0;
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    /* O usa 'wrap' para permitir el desplazamiento vertical */
    text-overflow: ellipsis;

}

.jsDiv table thead {
    width: 100% !important;
}

.jsDiv table tbody {
    text-align: left !important;
}

.titulos {
    text-align: center;
}


.jsDiv form div {
    text-align: left;

}

/*////////////////////////////////////////////////////////////////*/


#montoTotal {
    width: 100%;
    height: auto;
    max-width: 15vw;
    min-width: 200px;
    text-align: center;
    
    background-color: lightgray;
    font-size: 20px;
    margin: 1vh;
    margin-top: 0;
    padding: 10px;
    border-radius: 2rem;
    padding: 10px;
    letter-spacing: 2px;
      
    
}

/* Clases para botones */
.btn {
    margin-bottom: 2vh;
    min-width: 130px;
    max-height: 45px;
    font-size: auto;
    background-image: linear-gradient(90deg, #251844 0%, #333f70 50%, #18465f 75%, #154b46 100%);
    /* box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff; */
    color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 2vh;
}

.btn:hover {
    background-image: linear-gradient(90deg, #312255 0%, #455181 50%, #24546e 75%, #25615b 100%);
    color: #fff;
    transform: translateY(-5px);
}

/*botones de formularios*/
form .btn {
    margin-top: 3vh;
    margin-bottom: 2vh;

}

.fondonav {
    background-color: #222F42;

}

/* LOGO CERDITO */
span {
    display: inline-block;
    font-size: 3vh;


}

/* FOOTER */



footer {
    position: relative;
    width: 100%;
    padding: 0 var(--pg-margin);
    background: var(--text-01);
    padding: 80px 80px 0px;
    margin-top: 80px;
    display: flex;
}

#footer {
   
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    box-shadow: none;
    flex: 1;
    color: var(--light-01);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 80px;

}


footer ul li a {
    color: var(--light-01);
    text-decoration: none;

}

footer ul li {
    color: var(--light-01);
    padding: 0;

}


/* BOTON */
.button1 {
    text-align: center;
    min-width: 140px;
    max-height: 45px;
    max-width: 100px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    margin-right: 3vh;
}



.button1:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.button1:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.button1 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    
    color: #fff;

    font-size: 1.225em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.5s ease-in-out;
}

.button1:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    color: white;
    background: #ad5389;
    background-image: linear-gradient(90deg, #251844 0%, #333f70 50%, #18465f 75%, #154b46 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}



/* LOGO CERDITO */
span {
    display: inline-block;
    font-size: 3vh;


}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    padding: 0 var(--pg-margin);
}

footer {
    background: var(--text-01);
    padding: 80px 80px 0px;
    margin-top: 80px;
    display: flex;
}




/* Cuando la ventana del navegador es de 400px o menos */
@media only screen and (max-width: 400px) {
    .button1 span {
        font-size: 1, 1em;
    }
}


/*////////////////////////////////////////////////////////////////*/

.user-profile {
    font-size: larger;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #08151d;
}

.user-profile-avatar {
    width: 10vh;
    height: 10vh;
    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;

}

.form-emerge {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*BOTONES EDITAR*/
.button-container {
    display: flex;
    background-image: linear-gradient(80deg, #a8b6c1 0%, #cfd8e0 50%, #b2c2c6 75%, #a8d3d4 100%);
    min-width: 10vh;
    max-width: 15vh;
    background-color: transparent;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.button {

    outline: 0 !important;
    border: 0 !important;
    border-radius: 50%;
    background-color: transparent;
    justify-content: center;
    color: #180f0f;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}



button.btn-outline-light {
    color: var(--light-01);
    background: none;
    color: var(--light-01);
    border: 2px solid var(--light-01);
}

button.btn-outline-dark {
    color: var(--text-01);
    background: none;
    color: var(--text-01);
    border: 2px solid var(--text-01);
}

button.btn-filled-dark {
    color: var(--light-01);
    background: var(--text-01);
    color: var(--light-01);
    border: 2px solid var(--text-01);
}

.btn-outline-dark:hover {
    background: var(--text-01);
    border: 2px solid var(--text-01);
}

.btn-outline-light:hover {
    background: var(--light-01);
    border: 2px solid var(--light-01);
    color: var(--text-01);
}


button:hover,
.btn-outline-dark.btn-hover-color:hover {
    color: var(--light-01);
    border: 2px solid var(--brand-01);
    background: var(--brand-01);
    transition: var(--hover-timing);
    box-shadow: var(--card-hover);
}




/* CARRUSEL */
.miCarrusel {
    width: 100%;
    height: 60vh;

}

.imgCarru {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ESTILO LOGIN CSS */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

/* ALINEAR FORM LOGIN */
.containerLogin {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }



/* TAMAÑO BOTON REGISTRO HOMEPAGE */
.btnreghp{
    width: 100%;
    height: 50px;
    border-radius: 10px;
 
}

